body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  font-family: 'Barlow', sans-serif;
  text-align: left;
}

@media (min-width: 360px ) and (max-width: 800px)  {
  body {
    width: 100vw;
  }
}

@media (min-width: 801px) {
  body {
    width: 80vh;
  }
}

.search-bar {
  width: 100%;
  display: flex;
  gap: 10px;
}

.search-bar > input[type="text"] {
  flex-grow: 1;
}

.title-container {
  display: flex;
  height: 35px;
  align-items: center;
  margin: 10px;
  gap: 5px;
}

.logo {
  object-fit: cover;
  max-height: 100%;
}

.app-name {
  font-size: 2rem;
}

.result-item {
  display: grid;
  grid-template-rows: fit-content(100%) fit-content(100%)  1fr;
  grid-template-columns: minmax(100px, 1fr) minmax(200px, 1.5fr);
  align-items: space-around;
  gap: 5px;
  margin: 10px 0;
  
}

.result-item a {
  text-decoration: none;
  color: black;
}

.title a {
  font-weight: 600;
  font-size: 1.1rem;
}

.channel {
  margin-bottom: auto;
}

.channel a {
  font-weight: 100;
}

.other-details {
  font-weight: 400;
}

.thumbnail {
  grid-row: 1 / -1;
  grid-column: 1 / 1;
  display: grid;
  place-items: center;
  position: relative;
}

.duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

.thumbnail > img {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
}

.title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.channel {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.other-details {
  grid-row: 3 / 4;
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: auto;
}

.views {
  text-align: right;
}